@use './mixins.scss' as *;

header {
    height: 76px;
    background-color: var(--main-color);
    position: relative;

    .tab-under-header {
        height: 5px;
        width: 100%;
        background-color: var(--main-color-darker);
        position: absolute;
        bottom: -5px;
    }

    .headerMainInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 76px;

        .logoName {
            color: var(--text-color);
            font-size: 10px;
            font-weight: 300;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        .secondName {
            color: var(--text-color);
            font-size: 12px;
            font-weight: 600;
        }

        .main-links {
            display: flex;
            column-gap: 25px;

            .active-item {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-color);
                font-size: 15px;
                font-weight: 500;

                &:nth-of-type(2) {
                    display: block;
                }

                &.shown-link {
                    display: block;
                }
            }
        }
    }

    .headerButtons {
        display: flex;
        align-items: center;
        column-gap: 20px;
        height: 100%;

        > button {
            @include button-header-style;

            > p {
                padding-left: 10px;
                font-size: 13px;
                font-weight: 600;
                color: var(--text-color);
                text-transform: uppercase;
            }
        }
        .support-button {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        [alt='question'] {
            width: 20px;
        }

        .user-button {
            display: flex;
            align-items: center;
            column-gap: 10px;
            padding-left: 2px;
        }

        [alt='profileImage'] {
            width: 34px;
            height: 34px;
            border-radius: 50%;
        }

        .log-out {
            padding: 0 10px;
            > img {
                width: 18px;
            }
        }
    }
}

.burger {
    display: none;
    cursor: pointer;
}

.open-search-panel {
    height: 40px;
    background-color: var(--main-color-darker);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    img {
        width: 15px;
    }

    .search-panel {
        height: 100%;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        font-size: 13px;
        margin-left: 10px;
        width: 100%;

        &::placeholder {
            color: #f2f6f9ab;
            font-size: 13px;
        }
    }
}

.burger-menu {
    height: 94vh;
    width: 244px;
    background-color: var(--background-color);
    display: block;
    position: fixed;
    visibility: hidden;
    z-index: 10;
    top: 54px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.4s;

    [alt='question'] {
        width: 20px;
    }

    > div:first-of-type {
        display: flex;
        align-items: center;
        border-bottom: 2px solid var(--border-line-color);

        > div > p {
            font-size: 12px;
            font-weight: 600;
            color: var(--text-dark-color);
        }

        > div > a {
            font-size: 10px;
            font-weight: 400;
            text-decoration: underline;
            color: red;
        }
    }

    > nav > a {
        display: block;
        text-align: center;
        padding: 22px 0;
        color: var(--text-dark-color);
        font-size: 14px;
        font-weight: 600;
        border-bottom: 2px solid var(--border-line-color);
        cursor: pointer;
    }

    > button {
        margin-bottom: 20px;
        @include button-header-style;
        display: flex;
        align-items: center;
        column-gap: 10px;
        position: absolute;
        bottom: 0;
        left: 54px;

        p {
            color: var(--text-color);
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.burger-menu.open {
    transform: translateX(0);
    visibility: visible;
    left: 0;
}

.overoll {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    opacity: 0;
    z-index: 5;
    top: 54px;
    left: 0;
    pointer-events: none;
    background-color: #727272da;
    transition: 0.4s;
}

.overoll.open {
    pointer-events: auto;
    opacity: 1;
}

[alt='photo_1'] {
    width: 54px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 0 0 2px var(--background-color), 0 0 0 20px #e2e2e23a;
}

.active-tab {
    height: 5px;
    background-color: var(--main-color-darker);
    position: relative;

    #active-line {
        display: block;
        position: absolute;
        z-index: 4;
        height: 5px;
        border-radius: 5px;
        background-color: var(--blue-accent);
        transition: 0.4s;
        left: 0;
        width: 0;
    }
}

.background-search {
    display: none;
    height: 42px;
    background-color: var(--main-color-darker);
}

@media all and (max-width: 474px) {
    .container {
        max-width: 360px;
    }

    header {
        height: 54px;

        .headerMainInfo {
            height: 54px;
            padding: 0;

            .logoName {
                font-size: 8px;
                margin-bottom: 6px;
            }

            .secondName {
                font-size: 12px;
            }

            .main-links {
                display: none;
            }

            > p {
                display: none;
            }

            .burger {
                display: flex;
            }

            .burger-menu {
                visibility: visible;
            }
        }

        .headerButtons {
            display: none;
        }

        .active-tab {
            display: none;
        }
    }

    [alt='burger-icon'] {
        width: 16px;
    }

    .background-search {
        display: block;
    }
}
