.not-found-block {
    padding: 30px 0 114px 0;
    background-color: var(--card-form-background);
    box-shadow: 0px 0px 8px 2px var(--card-form-shadow-accent);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    [alt='Nothing Found'] {
        width: 230px;
    }

    > p:first-of-type {
        font-size: 16px;
        font-weight: 600;
        margin: 10px 0;
        color: var(--text-dark-color);
    }

    > p:nth-of-type(2) {
        font-size: 15px;
        text-align: center;
        color: var(--text-small);
        width: 280px;
    }
}
