@use '../mixins.scss' as *;

.profile-info-page {
    margin: 22px 0;
    width: 100%;
    padding: 0 30px;
    background-color: var(--card-form-background);
    box-shadow: 0px 0px 8px 2px var(--card-form-shadow-accent);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .profile-edit-page {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .save {
            @include button;
            margin-top: 40px;
            width: 300px;
            justify-content: center;
            font-size: 16px;

            &:hover {
                background-color: var(--main-color);
            }
        }
    }
}

/* Left side */
.basic-info {
    width: 32%;
    border-right: 2px solid var(--separator-lime);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .arrow-back {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background-color: var(--background-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 22px;
        left: -10px;
        transition: 0.4s;

        &:hover {
            background-color: var(--buttons-hover);
        }
    }

    [alt='profile-photo'] {
        width: 225px;
        height: 225px;
        margin: 25px 0;
        border-radius: 50%;
    }

    .avatar-img {
        position: relative;

        > p {
            width: 55px;
            height: 55px;
            background-color: var(--icon-remote-work);
            border-radius: 50%;
            border: 4px solid var(--card-form-background);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 3;
            bottom: 33px;
        }
    }

    .full-name {
        margin-bottom: 16px;
        column-gap: 10px;

        > p {
            display: inline;
            text-align: center;
            font-size: 17px;
            color: var(--text-dark-color);
            font-weight: 700;
            margin-bottom: 16px;
        }
    }

    .full-native-name {
        margin-bottom: 16px;
        column-gap: 10px;

        > p {
            display: inline;
            font-size: 15px;
            font-weight: 600;
            color: var(--text-small);
            margin-bottom: 18px;
        }
    }

    .copy-link {
        height: 36px;
        width: 120px;
        background-color: var(--background-color);
        border: none;
        cursor: pointer;
        border-radius: 60px;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 28px;
        margin-top: 12px;

        &:hover {
            background-color: var(--buttons-hover);
        }

        p {
            font-size: 11px;
            font-weight: 500;
            color: var(--text-small);
        }
    }

    .edit {
        height: 40px;
        width: 95px;
        border-radius: 5px;
        border: 2px solid var(--text-small);
        cursor: pointer;
        background-color: transparent;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        &:hover {
            background-color: var(--buttons-hover);
        }

        p {
            font-size: 16px;
            color: var(--text-middle);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

/* Right side */
.detailed-info {
    padding: 26px 0 40px 34px;
    width: 68%;

    .p-header {
        padding: 14px 0;
        width: 100%;
        text-transform: uppercase;
        color: var(--label-text-color);
        font-size: 14px;
        font-weight: 600;
        border-bottom: 2px solid var(--separator-lime);
    }

    /* Labels and info*/
    .type-info {
        margin-bottom: 30px;
    }

    .row-info {
        display: flex;
        align-items: center;

        .birthdate {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .input-container {
                width: 33%;

                input,
                select {
                    padding: 8px 15px;
                    width: 100%;
                    border: 1px solid var(--text-small);
                    color: var(--text-dark-color);
                    border-radius: 5px;
                    font-size: 16px;
                    background-color: transparent;
                }
            }
        }
        .input-container {
            width: 100%;

            select {
                padding: 8px 15px;
                width: 100%;
                border: 1px solid var(--text-small);
                color: var(--text-dark-color);
                border-radius: 5px;
                font-size: 16px;
                background-color: transparent;
            }
        }
    }

    .label {
        width: 54%;
        margin: 10px 0;
        display: flex;
        align-items: center;
        column-gap: 20px;

        > p {
            font-size: 14px;
            color: var(--label-text-color);
            font-weight: 500;
        }
    }

    .value {
        column-gap: 8px;
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 7px;
        font-size: 14px;
        color: var(--text-middle);
        font-weight: 500;

        > input, >select {
            padding: 8px 15px;
            width: 100%;
            border: 1px solid var(--text-small);
            color: var(--text-dark-color);
            border-radius: 5px;
            font-size: 16px;
            background-color: transparent;
        }
    }

    .value.blue-value p {
        color: var(--blue-accent);
    }
    .blue-value {
        font-size: 14px;
        margin-right: 7px;
        color: var(--blue-accent);
    }
}

.input-edit {
    display: flex;
    flex-direction: column;
    width: 153px;
    padding: 8px;
    border: 1px solid var(--text-small);
    border-radius: 5px;
    font-size: 14px;
    color: var(--text-dark-color);
    font-weight: 500;
    margin: 5px 0;
    background-color: transparent;
}

.edit-name-fields {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    width: 100%;
    padding-right: 30px;

    > div {
        display: flex;
        flex-direction: column;

        > label {
            font-size: 17px;
            color: var(--text-dark-color);
            font-weight: 700;
            margin-bottom: 5px;
        }

        > input {
            padding: 8px 15px;
            width: 100%;
            border: 1px solid var(--text-small);
            color: var(--text-dark-color);
            border-radius: 5px;
            font-size: 16px;
            background-color: transparent;
        }
    }
}

@media all and (max-width: 474px) {
    .container {
        max-width: 360px;

        .profile-info-page {
            flex-direction: column;
            padding: 0 10px;

            .basic-info {
                width: 100%;
                border: none;
                // margin-top: 16px;

                .arrow-back {
                    left: 10px;
                }

                [alt='profile-photo'] {
                    width: 150px;
                    height: 150px;
                }
            }

            .detailed-info {
                padding: 19px 0;
                width: 100%;

                .label {
                    width: 71%;
                }
            }
        }
    }
}
