@use '../notFoundBlock.scss';

.main-info {
    display: flex;
    column-gap: 35px;

    .search-items {
        width: 33%;

        .basic-search-input,
        .advanced-search-input {
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            text-align: center;
            width: 49%;
            padding: 20px 0;
            color: var(--text-small);
            background-color: transparent;
            transition: 0.4s;
            border-bottom: 5px solid transparent;
            display: inline-block;

            &:hover {
                border-bottom: 5px solid var(--blue-accent);
                color: var(--text-dark-color);
            }
        }

        .form-active {
            border-bottom: 5px solid var(--blue-accent);
            color: var(--text-dark-color);
        }

        > label > p:hover {
            border-bottom: 5px solid var(--blue-accent);
            color: var(--text-dark-color);
        }

        .search-forms-basic,
        .search-forms-advanced {
            padding: 34px 30px;
            background-color: var(--card-form-background);
            box-shadow: 0px 0px 8px 2px var(--card-form-shadow-accent);
            border-radius: 5px;
        }

        form {
            > div {
                input,
                select {
                    padding: 10px 15px 10px 50px;
                    width: 100%;
                    border: 1px solid var(--text-small);
                    color: var(--text-dark-color);
                    border-radius: 5px;
                    font-size: 16px;
                    background-color: transparent;
                }
            }
        }

        .basic-search {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            label {
                position: relative;

                span {
                    position: absolute;
                    top: 9px;
                    left: 15px;
                }
            }

            > button {
                width: 100%;
                color: var(--text-color);
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                background-color: var(--blue-accent);
                border-radius: 5px;
                padding: 15px 0;
                cursor: pointer;

                &:hover {
                    background-color: var(--main-color);
                    transition: 0.4s;
                }
            }
        }

        .advanced-search {
            display: flex;
            flex-direction: column;
            row-gap: 6px;

            > button {
                width: 100%;
                color: var(--text-color);
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                background-color: var(--blue-accent);
                border-radius: 5px;
                padding: 15px 0;
                cursor: pointer;
                margin-top: 20px;

                &:hover {
                    background-color: var(--main-color);
                    transition: 0.4s;
                }
            }

            > div p {
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 500;
                color: var(--text-dark-color);
            }

            > div input,
            > div select {
                padding: 10px;
                border: 1px solid var(--text-small);
                border-radius: 5px;
                margin-bottom: 15px;
                font-size: 16px;
                background-color: transparent;
            }
        }

        .search {
            padding: 10px 15px 10px 50px;
            width: 100%;
            border: 1px solid var(--text-small);
            color: var(--text-dark-color);
            border-radius: 5px;
            font-size: 16px;
            background-color: transparent;

            &::placeholder {
                color: var(--text-dark-color);
            }
        }

        [alt='search'] {
            width: 20px;
        }

        .row {
            display: flex;
            flex-direction: row;
            column-gap: 5px;
        }

        .form-phone,
        .form-skype-id {
            width: 50%;
        }

        .form-building {
            width: 90%;
        }

        #form-phone,
        #form-skype-id {
            width: 40%;
        }
    }

    .employees {
        position: relative;
        width: 64%;

        > p {
            font-size: 14px;
            font-weight: 600;
            padding: 21px 0;
            color: var(--text-dark-color);
        }

        > img {
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            top: 21px;
            right: 0;

            &:first-of-type {
                right: 40px;
            }
        }
    }

    .icons-type {
        transition: 0.4s;
        opacity: 0.5;

        &-active {
            opacity: 1;
        }
    }

    .employees-cards-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 332px);
        gap: 10px;

        .employee-single-card {
            padding: 24px 36px;
            background-color: var(--card-form-background);
            box-shadow: 0px 0px 8px 2px var(--card-form-shadow-accent);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                box-shadow: 2px 2px 8px 2px var(--card-form-shadow-accent-hover);
            }

            > img {
                margin: 22px 0;
                width: 136px;
                height: 136px;
                border-radius: 50%;
            }
        }

        .empl-name {
            font-size: 16px;
            color: var(--text-dark-color);
            font-weight: 700;
            margin-bottom: 45px;
        }

        .common-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 22px;
            border-top: 2px solid var(--border-line-color);

            > div {
                display: flex;
                align-items: center;
                column-gap: 5px;

                > p {
                    color: var(--text-dark-color);
                    font-size: 12px;
                    font-weight: 500;
                }

                > img {
                    width: 16px;
                }
            }
        }
    }

    /* Employees list-column */
    .employees-cards-list {
        display: flex;
        flex-direction: column;
        row-gap: 2px;

        .common-toolbar {
            height: 50px;
            padding: 0 18px;
            background-color: var(--card-form-background);
            box-shadow: 0px 0px 8px 2px var(--card-form-shadow-accent);
            border-radius: 5px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            > div {
                display: flex;
                column-gap: 7px;

                &:first-of-type {
                    width: 14%;
                }

                &:nth-of-type(2) {
                    width: 44%;
                }

                &:nth-of-type(3) {
                    width: 25%;
                }

                p {
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--text-dark-color);
                }

                img {
                    width: 15px;
                }
            }
        }
    }

    #list-container {
        display: flex;
        flex-direction: column;
        row-gap: 2px;

        .employe-single-list-card {
            height: 82px;
            padding: 0 18px;
            background-color: var(--card-form-background);
            box-shadow: 0px 0px 8px 2px var(--card-form-shadow-accent);
            border-radius: 5px;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                box-shadow: 2px 2px 8px 2px var(--card-form-shadow-accent-hover);
            }

            > img:first-of-type {
                display: none;
            }

            > p:nth-of-type(1) {
                width: 25%;
                font-weight: 500;
                font-size: 14px;
                color: var(--text-dark-color);
            }

            > p:last-of-type {
                font-size: 14px;
                font-weight: 500;
                color: var(--text-dark-color);
            }
        }
    }

    .avatar-name {
        position: relative;
        display: flex;
        width: 58%;
        align-items: center;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
        }

        > p {
            width: 44%;
            font-size: 17px;
            margin-left: 52px;
            font-weight: 600;
            color: var(--text-dark-color);
        }

        .remote-icon {
            .remote-icon-svg {
                width: 25px;
                height: 25px;
                background-color: var(--icon-remote-work);
                border-radius: 50%;
                border: 2px solid var(--card-form-background);
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -3px;
                left: -8px;
                z-index: 3;
            }
        }
    }

    [alt='bag-icon'] {
        width: 20px;
        height: 20px;
    }
}
