@media all and (max-width: 474px) {
    .container {
        max-width: 360px;
    }

    [alt='burger-icon'] {
        width: 16px;
    }

    .main-info {
        flex-direction: column;

        .employees {
            width: 100%;

            input,
            label {
                display: none;
            }

            > p {
                font-size: 11px;
                padding: 24px 0;
            }

            > svg:first-of-type {
                display: none;
            }
        }

        .search-items {
            width: 100%;
            position: relative;

            .form-active {
                display: none;
            }

            .search-forms-basic {
                padding: 0 0;
                background: transparent;
                border: 0;
                box-shadow: none;
            }

            .search {
                color: var(--text-color);
                border: none;
                font-size: 15px;
                width: 100%;

                &::placeholder {
                    color: var(--text-color);
                }
            }

            .basic-search {
                width: 100%;
                position: absolute;
                top: -40px;

                > button {
                    display: none;
                }
            }
            .advanced-search-input {
                display: none;
            }
        }

        .employees-cards-grid {
            display: none;
        }

        .employees-cards-list {
            display: block;

            .common-toolbar {
                display: none;
            }
        }

        #list-container {
            .employe-single-list-card {
                padding: 0;
                height: 120px;
                flex-wrap: wrap;

                > img:first-of-type {
                    margin-left: 100px;
                    margin-right: 10px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-bottom: 5px;
                }

                > p:nth-of-type(1) {
                    font-size: 11px;
                    color: #0a41a5;
                    margin-bottom: 5px;
                }
                > p:last-of-type {
                    display: none;
                }
            }

            .avatar-name {
                padding: 8px 18px 8px 18px;
                width: 100%;
                border-bottom: 2px solid #f2f6f9;

                > p:first-of-type {
                    width: 72%;
                    font-size: 16px;
                    margin-left: 17px;
                    font-weight: 600;
                    color: #343d47;
                }
            }
        }

        .remote-icon {
            bottom: 5px;
            left: 9px;
        }
    }

    .open-search-panel {
        display: flex;
    }
}
